/* :root {
    
    --background-color-light: #ffffff;
    --text-color-light: #333333;

    
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
};


body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
};


body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
};


@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    };
};

.login-box {
    padding: 100px;
    background: black;
    border: 14px solid #transparent;
};

.div {
    padding: 100px;
    background: black;
    border: 14px solid #008080;
}; */

div {
    padding: 100px;
    background: black;
    border: 14px solid #008080;
};